body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 10px;
}

.player {
    background: #FF5722;
    color: white;
    padding: 15px;
    border: 1px solid #BF360C;
    margin: 10px;
    position: relative;
}

.progress-area {
    position: relative;
}

.player-progress {
    border: 1px solid #ddd;
    padding: 1px;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    margin: 5px;
    height: 20px;
}

.progress {
    transition: width 0.5s linear;
}

.player-progress .progress {
    height: 100%;
    background: #FF5722;
}

.player-progress.missed {
    background: pink;
    animation-name: missed;
    animation-duration: 3500ms;
}

.player-progress.missed:after {
    content: attr(data-lastmissedword);
    color: white;
    display: block;
    margin-left: 9px;
}

@keyframes missed {
    from {
        background: rgba(255, 0, 0, 0.6);
    }
    to {
        background: white;
    }
}

.player-progress.my-progress .progress {
    background: #00BCD4;
}

.player-progress-name {
    display: block;
    position: absolute;
    color: white;
    margin: 0 3px;
    white-space: nowrap;
    font-weight: 100;
    font-size: 14px;
}

.question-image-wrapper {
    height: 250px;
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.question-image {
    height: 100%;
}

input {
    font-size: 14px;
    font-family: inherit;
    border: 1px solid #BF360C;
    background: rgba(255, 255, 255, 1);
}

.nope {
    position: absolute;
    width: 171px;
    top: 240px;
    color: #F44336;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.loading-next-image {
    position: absolute;
    right: 0;
    top: 100%;
    color: white;
    width: 35px;
    padding: 5px;
}

.loading-next-image img {
    width: 100%;
}

@media(min-width: 1024px) {
    #h3WhatIsThis {
        margin-left: 30vw!important;
    }
    #inputCurrentAnswer {
        margin-right: 30vw;
    }
}

.score-count {
    margin-top: 5px;
    font-weight: 100;
}

.score-count span {
    font-weight: 800;
}

.player-win-count {
    color: #00BCD4;
        position: absolute;
    left: -66px;
}